extends ./base.jade
block content
    .container
        .row
            div(class='column column-10')
            div(class='column column-80' id='window')
                label(for='postTitle') Post title
                input(type='text' placeholder='My title' id='postTitle')
                label(for='postDesc') Post description
                textarea(placeholder='Optional...' id='postDesc')
                label(for='postBody') Content
                textarea(placeholder='Lorem ipsum dolor sit amet...' id='postBody')
                button(class='button button-outline' onclick='addPost()') Create post
            div(class='column column-10')
        div(id='close-modal' onclick='back()')
            img(src='/public/icons/add.png')
