body {
    margin-top: 50px;
    margin-bottom: 50px;
}

#close-modal {
    float: right;
    position: fixed;
    left: 90%;
    top: 80%;
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    -webkit-box-shadow: 23px 28px 174px -13px rgba(71,71,71,1);
    -moz-box-shadow: 23px 28px 174px -13px rgba(71,71,71,1);
    box-shadow: 23px 28px 174px -13px rgba(71,71,71,1);
}

#window {
    margin-top: 15%;
}

#close-modal > img {
    transform: rotateZ(45deg);
}

#modal {
    background-color: #ffffff;
}

.new-post {
    position: fixed;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ffffff;
    -webkit-box-shadow: 23px 28px 174px -13px rgba(71,71,71,1);
    -moz-box-shadow: 23px 28px 174px -13px rgba(71,71,71,1);
    box-shadow: 23px 28px 174px -13px rgba(71,71,71,1);
    transition: all .3s ease-in-out;
    left: 90%;
    top: 80%;
    z-index: 100;
    padding: 15px;
    cursor: pointer;
}

.new-post:hover {
    -webkit-box-shadow: 23px 28px 174px -13px rgba(71,71,71,1);
    -moz-box-shadow: 23px 28px 174px -13px rgba(71,71,71,1);
    box-shadow: 23px 28px 174px -13px rgba(71,71,71,1);
}

.post {
    -webkit-box-shadow: 0px 17px 180px -34px rgba(122,122,122,1);
    -moz-box-shadow: 0px 17px 180px -34px rgba(122,122,122,1);
    box-shadow: 0px 17px 180px -34px rgba(122,122,122,1);
    margin: 50px 0;
    border-radius: 8px;
    padding: 30px;
    transition: all .3s ease-in-out;
}

.post:hover {
    -webkit-box-shadow: 0px 17px 180px -26px rgba(122,122,122,1);
    -moz-box-shadow: 0px 17px 180px -26px rgba(122,122,122,1);
    box-shadow: 0px 17px 180px -26px rgba(122,122,122,1);
}

.title {
    text-align: center;
}

.description {
    opacity: .7;
}

.comments {
    float: right;
    width: auto;
    height: 20px;
    margin: 8px;
}

.comments > img {
    height: 100%;
    vertical-align: middle;
    margin-right: 4px;
}

.comments > i {
    height: 100%;
    vertical-align: middle;
}

.likes {
    float: right;
    width: auto;
    height: 18px;
    margin-top: 8px;
}

.likes > img {
    height: 100%;
    vertical-align: middle;
    margin-right: 4px;
    transition: all .1s ease-in-out;
}

#like-button {
    cursor: pointer;
}

.likes > i {
    height: 100%;
    vertical-align: middle;
}

.post-title {
    text-align: center;
}

.body {
    text-align: justify;
}

.back-button {
    float: left;
    margin-top: 10px;
}

.comment {
    -webkit-box-shadow: 0px 17px 180px -34px rgba(122,122,122,1);
    -moz-box-shadow: 0px 17px 180px -34px rgba(122,122,122,1);
    box-shadow: 0px 17px 180px -34px rgba(122,122,122,1);
    padding: 25px;
    margin: 50px 0;
    border-radius: 8px;
}
